<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.SimpleLayout" />
		</appender>
		<appender name="RabbitMQAppender" type="log4net.Appender.RabbitMQAppender, Log4Rabbit">
			<HostName value="localhost" />
			<VirtualHost value="/" />
			<UserName value="guest" />
			<Password value="guest" />
			<RequestedHeartbeat value="0" />
			<Port value="5672" />
			<Exchange value="logs" />
			<RoutingKey value="" />
			<FlushInterval value="5" />
		</appender>
		<root>
			<level value='ALL' />
			<appender-ref ref='RabbitMQAppender' />
			<appender-ref ref='ConsoleAppender' />
		</root>
	</log4net>
</configuration>